[submodule "MetroRadiance"]
	path = MetroRadiance
	url = git@github.com:HeavyWork/MetroRadiance.git
[submodule "YDock"]
	path = YDock
	url = git@github.com:HeavyWork/YDock.git
[submodule "VisualIcon"]
	path = VisualIcon
	url = git@github.com:HeavyWork/VisualIcon.git
